<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Tarefas</title>
</head>
<body>
<form method="POST" action="#" th:action="@{/salvar}" th:object="${tarefa}">
    <label>
        <input type="text" name="descricao" th:field="*{descricao}"/>
    </label>
    <p th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"> </p>
    <br />
    <label>
        <select name="ativo" th:field="*{ativo}">
            <option value="true"> Ativo
            </option>
            <option value="false">
                Inativo
            </option>
        </select>
    </label>
    <button type="submit">Enviar</button>
</form>
</body>
</html>